.info {
  margin-top: -5px;

  &__row {
    display: flex;
    background-color: $bg;

    @media (max-width: $md) {
      display: block;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e8e4df;
    width: 33.333%;
    min-height: 170px;

    @media (max-width: $md) {
      border-right: none;
      border-bottom: 1px solid #e8e4df;
      width: 100%;
      min-height: 120px;
    }

    @media (max-width: $sm) {
      min-height: 100px;
    }

    &:last-child {
      border: none;
    }
  }

  &__content {
    position: relative;
    padding-left: 75px;
    max-width: 300px;

    @media (max-width: $lg) {
      padding-top: 60px;
      padding-left: 0;
    }

    @media (max-width: $md) {
      padding-top: 0;
      padding-left: 75px;
      max-width: 400px;
    }

    @media (max-width: $sm) {
      max-width: 300px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 70px;
      height: 70px;
      background-repeat: no-repeat;
    }

    &--support::after {
      background-image: url("../images/icons/support.png");
    }

    &--delivery::after {
      background-image: url("../images/icons/delivery.png");
    }

    &--secure::after {
      background-image: url("../images/icons/secure.png");
    }
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    @extend %dmsans-700;

    @media (max-width: $lg) {
      margin-bottom: 5px;
    }

    @media (max-width: $sm) {
      font-size: 16px;
    }
  }

  &__text {
    max-width: 215px;
    line-height: 1.8;
    @extend %dmsans-400;

    @media (max-width: $lg) {
      line-height: 1.4;
    }

    @media (max-width: $md) {
      padding-right: 10px;
      max-width: 400px;
    }
  }
}