.products {
  padding-top: 70px;

  @media (max-width: $lg) {
    padding-top: 50px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__filter {
    margin-bottom: 75px;

    @media (max-width: $lg) {
      margin-bottom: 50px;
    }

    @media (max-width: $md) {
      margin-bottom: 20px;
    }
  }

  &__cards {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 192px;

    @media (max-width: $xl) {
      grid-gap: 15px;
      margin-bottom: 100px;
    }

    @media (max-width: $lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: $md) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 50px;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }
}

.card {
  position: relative;
  padding: 30px 0;
  min-width: 250px;
  max-height: 380px;
  box-shadow: 0 0 35px 18px #f8f8f8;

  @media (max-width: $xl) {
    min-width: 200px;
  }

  &__img {
    margin: 0 auto;
    margin-bottom: 70px;
    min-height: 200px;
    max-width: 200px;
    object-fit: contain;

    @media (max-width: $lg) {
      margin-bottom: 50px;
    }

    @media (max-width: $md) {
      margin-bottom: 80px;
      max-width: 150px;
      max-height: 150px;
    }
  }

  &__name {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: $darkblue;
    @extend %dmsans-500;
  }

  &__price {
    display: block;
    text-align: center;
    color: $blue;
    @extend %dmsans-700;
  }

  &:hover .icon {
    opacity: 1;
  }
}

.icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;

  @media (max-width: $xl) {
    opacity: 1;
  }

  &__link {
    display: block;
    margin: 0 8px;
    outline: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 3.5;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s;
    cursor: pointer;

    @media (max-width: $xl) {
      border: 1px solid $blue;
    }

    path {
      transition: fill 0.3s;
    }

    &:focus {
      border: 1px solid $blue;
    }

    &:hover path {
      fill: #fff;
    }

    &:hover {
      background-color: $accent;
    }

    &:active {
      background-color: $dark;
    }
  }
}

.chosen {
  &__wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: $lg) {
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 100%;
    min-height: 390px;
    max-width: 870px;
    background-color: $powdery;

    @media (max-width: $xl) {
      margin-right: 15px;
    }

    @media (max-width: $lg) {
      margin: 0 auto;
      margin-bottom: 15px;
    }

    @media (max-width: $md) {
      min-height: 320px;
    }

    @media (max-width: $sm) {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-right: 0;
      @media (max-width: $lg) {
        margin: 0 auto;
      }
    }
  }

  &__inner {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 600px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding-right: 20px;
    max-width: 350px;
  }

  &__img {
    position: absolute;
    top: -90px;
    min-height: 400px;
    max-width: 240px;
    object-fit: cover;
    object-position: center;

    @media (max-width: $xl) {
      position: static;
      margin: 0 15px;
      padding: 70px 0;
      max-width: 150px;
    }

    @media (max-width: $sm) {
      padding: 35px 0;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 1.2;
    color: $darkblue;
    @extend %dmsans-700;

    @media (max-width: $md) {
      font-size: 20px;
    }

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    line-height: 1.8;
    color: $darkblue;

    @media (max-width: $sm) {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 1.6;
    }
  }
}