.top-slider {
  &__item {
    position: relative;
  }

  &__inner {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 450px;

    @include _1200 {
      margin-left: 50px;
    }

    @include _992 {
      max-width: 300px;
    }

    @include _768 {
      max-width: 100%;
    }

    @include _480 {
      margin-left: 8px;
    }
  }

  &__title {
    overflow: hidden;
    margin-bottom: 27px;
    max-height: 150px;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $darkblue;
    @extend %rubik-500;

    @include _1200 {
      font-size: 40px;
    }

    @include _992 {
      font-size: 30px;
    }

    @include _768 {
      margin-bottom: 15px;
      font-size: 24px;
    }

    @include _480 {
      font-size: 20px;
    }
  }

  &__subtitle {
    overflow: hidden;
    margin-bottom: 40px;
    max-width: 370px;
    max-height: 75px;
    font-size: 18px;
    line-height: 1.5;

    @include _768 {
      margin-bottom: 15px;
      max-width: 150px;
      font-size: 16px;
    }

    @include _480 {
      margin-bottom: 20px;
      max-width: 110px;
      line-height: 1.2;
    }
  }

  &__link {
    @include _768 {
      padding: 12px 25px;
      width: 150px;
    }

    @include _480 {
      padding: 12px 15px;
      width: 110px;
    }

    &::before {
      @include _768 {
        display: none;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 820px;
    object-fit: cover;

    @include _1200 {
      height: 500px;
    }

    @include _768 {
      height: 280px;
    }
  }
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6%;
  display: flex;
  justify-content: center;

  li {
    button {
      margin-right: 10px;
      outline: transparent;
      border: 1px solid transparent;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 10px;
      color: $accent;
      background-color: #fde3cc;
      transition: all 0.3s;
      cursor: pointer;
      @extend %rubik-500;

      @include _768 {
        width: 20px;
        height: 20px;
      }

      &:focus {
        color: $darkblue;
        background-color: #fff;
      }

      &:hover {
        border: 1px solid $darkblue;
      }

      &:active {
        background-color: $blue;
      }
    }

    &.slick-active {
      button {
        background-color: $bg;
      }
    }
  }
}
