$accent: #436372;
$darkblue: #243f4d;
$dark: #191919;
$blue: #a3bbc8;
$light: #edf1f4;
$red: #ff0000;
$grey: #7b7b7b;
$bg: #fef7f0;
$powdery: #feefe2;

%rubik-400 {
  font-family: 'Rubik-400';
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-500';
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-400';
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-500';
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-700';
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins-700';
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function max($numbers...) {
  @return m#{i}n(#{$numbers});
}