.articles {
  padding-top: 113px;

  @include _1200 {
    padding-top: 60px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @include _480 {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-right: 15px;

    @include _480 {
      margin-bottom: 15px;
    }
  }

  &__link {
    position: relative;
    padding-right: 25px;
    @extend %dmsans-700;

    &::before {
      content: ">";
      position: absolute;
      right: 0;
      top: -20%;
      font-size: 20px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;

    @include _1200 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.articles-card {
  position: relative;
  margin-right: 32px;
  border-radius: 5px;
  min-width: 370px;
  min-height: 420px;
  background-color: #fff;
  transition: background-color 0.3s;

  @include _1200 {
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
  }

  @include _992 {
    margin-right: 5px;
  }

  @include _768 {
    margin-right: 0;
  }

  @include _480 {
    min-width: 320px;
  }

  &__link {
    position: absolute;
    outline: transparent;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    transition: all 0.3s;

    &:focus {
      border: 1px solid $red;

      .news__text {
        color: $red;
      }
    }

    &:hover {
      background-color: rgba(29, 25, 25, 0.1);
    }

    &:active {
      background-color: rgba(29, 25, 25, 0.4);
    }
  }

  &__img {
    position: relative;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: cover;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 33px 35px 20px;
    min-height: 170px;
  }

  &__category {
    position: absolute;
    left: 8%;
    top: -10%;
    border-radius: 20px;
    padding: 7px 28px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background-color: $blue;
    @extend %dmsans-700;
  }

  &__text {
    flex: 1 1 auto;
    overflow: hidden;
    margin-bottom: 15px;
    max-height: 70px;
    font-size: 18px;
    color: #262626;
    transition: color 0.3s;
    @extend %dmsans-500;
  }

  &__note {
    padding-top: 15px;
  }
}
