<section class="articles">
  <div class="container container--small">
    <div class="articles__inner">
      <h2 class="articles__title title">
        Our Insights & Articles
      </h2>
      <a class="articles__link link" href="#">
        View All
      </a>
    </div>

    <div class="articles__cards">
      <article class="articles-card">
        <a class="articles-card__link" href="#">
          <img class="articles-card__img" src="images/news/photo-news-1.jpg" alt="photo news">
          <div class="articles-card__content">
            <span class="articles-card__category">
              News
            </span>
            <p class="articles-card__text">
              Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <div class="articles-card__note note">
              <time data-time="28.01.2020" class="note__date">
                28 january, 2020
              </time>
              <span class="note__author">
                by admin
              </span>
            </div>
          </div>
        </a>
      </article>

      <article class="articles-card">
        <a class="articles-card__link" href="#">
          <img class="articles-card__img" src="images/news/photo-news-2.jpg" alt="photo news">
          <div class="articles-card__content">
            <span class="articles-card__category">
              News
            </span>
            <p class="articles-card__text">
              Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            </p>
            <div class="articles-card__note note">
              <time data-time="28.01.2020" class="note__date">
                28 january, 2020
              </time>
              <span class="note__author">
                by admin
              </span>
            </div>
          </div>
        </a>
      </article>

      <article class="articles-card">
        <a class="articles-card__link" href="#">
          <img class="articles-card__img" src="images/news/photo-news-3.jpg" alt="photo news">
          <div class="articles-card__content">
            <span class="articles-card__category">
              News
            </span>
            <p class="articles-card__text">
              Rncididunt ut labore et dolore magna aliqua. Ut enim
            </p>
            <div class="articles-card__note note">
              <time data-time="28.01.2020" class="note__date">
                28 january, 2020
              </time>
              <span class="note__author">
                by admin
              </span>
            </div>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>