<footer class="footer">
  <div class="container container--small">

    <div class="footer__top">
      <div class="footer__contact">
        <a href="" class="footer__logo logo">
          <img src="images/logo.png" alt="logo" />
        </a>

        <address class="footer__address address">
          <ul class="address__list">
            <li class="address__item">
              <span class="address__text">address:</span>
              4772 Wines Lane Houston, TX 77032
            </li>

            <li class="address__item">
              <a class="address__link link" href="tel:8323475843">
                <span class="address__text">Telephone:</span>
                832-347-5843
              </a>
            </li>

            <li class="address__item">
              <a class="address__link link" href="mailto:contact@Glee.com">
                <span class="address__text">Email:</span>
                contact@Glee.com
              </a>
            </li>
          </ul>
        </address>
      </div>

      <div class="footer__column">
        <span class="footer__title">
          Services
        </span>
        <ul class="footer__list">

          <li class="footer__item">
            <a class="footer__link link" href="#">
              About us
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">
              Return Policy
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">
              Our Blog
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">
              Contact Us
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">
              Terms & Condition
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__column">
        <span class="footer__title">
          Account
        </span>
        <ul class="footer__list">

          <li class="footer__item">
            <a class="footer__link link" href="#">
              Your Account
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">
              Checkout
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">
              Login
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link link" href="#">
              Register
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__new">
        <span class="footer__title">
          newsletter
        </span>
        <p class="footer__new-text">
          Subscribe by our newsletter and get
          update protidin.
        </p>

        <form class="footer__form subscribe">
          <label class="subscribe__label">
            <span class="sr-only">
              enter mail to subscribe
            </span>
            <input class="subscribe__email" placeholder="Email address" type="email" name="email" />
          </label>

          <button class="subscribe__btn btn" type="su">
            Subscribe
          </button>
        </form>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__copy">
        ©2020 CopyRight Example. All rights reserved
      </div>

      <ul class="footer__nav">
        <li class="footer__nav-item">
          <a class="footer__nav-link link" href="#">
            Home
          </a>
        </li>

        <li class="footer__nav-item">
          <a class="footer__nav-link link" href="#">
            About
          </a>
        </li>

        <li class="footer__nav-item">
          <a class="footer__nav-link link" href="#">
            Blog
          </a>
        </li>

        <li class="footer__nav-item">
          <a class="footer__nav-link link" href="#">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>