<div class="partner">
  <div class="container container--small">
    <ul class="partner__inner">

      <li class="partner__item">
        <img class="partner__img" src="images/partner/partner-1.png" alt="logo partner">
      </li>

      <li class="partner__item">
        <img class="partner__img" src="images/partner/partner-2.png" alt="logo partner">
      </li>

      <li class="partner__item">
        <img class="partner__img" src="images/partner/partner-3.png" alt="logo partner">
      </li>

      <li class="partner__item">
        <img class="partner__img" src="images/partner/partner-4.png" alt="logo partner">
      </li>

      <li class="partner__item">
        <img class="partner__img" src="images/partner/partner-5.png" alt="logo partner">
      </li>

      <li class="partner__item">
        <img class="partner__img" src="images/partner/partner-3.png" alt="logo partner">
      </li>
    </ul>
  </div>
</div>