.burger {
  display: none;
  margin: 10px;
  height: 30px;
  border: none;
  background-color: transparent;
  padding: 0;

  @media (max-width: $xl) {
    display: block;
  }

  &__line {
    display: block;
    width: 35px;
    height: 2px;
    background-color: $dark;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: $dark;
      left: 0;
      transition: transform 0.3s;
    }

    &::after {
      top: 10px;
    }

    &::before {
      bottom: 10px;
    }

    &--active {
      background-color: transparent;

      &::after {
        transform: rotate(45deg);
        top: 0;
      }

      &::before {
        transform: rotate(-45deg);
        bottom: 0;
      }
    }
  }
}